@charset "utf-8";
html{
    overflow: auto;
    height: 1300px;
    position: relative;
    transition: height .4s;
}
html.on{
    height: 1550px;
}
body{
    background-color: #fff;
    background-image: none;
    position: relative;
    padding: 0;
    height: 100%;
    min-height: 849px;
    margin: 0;
}
h1{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    font-weight: 900;
    color: var(--main);
    font-family: 'NanumSquareRoundR';
}
h1 > p{
    font-size: 20px;
    font-family: inherit;
    margin-top: 20px;
}

nav{
    width: 800px;
    height: 50px;
    margin: 50px auto 50px;

}
nav > ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav > ul > li{
    width: 25%;
    height: 100%;
    padding: 0 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #99999966;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3px solid #99999966;
}
/*  */
nav > ul > li.active{
    color: var(--main);
    border-bottom: 4px solid var(--main);
}
/*  */
nav > ul > li:not(:last-of-type){
    margin-right: 8px;
}

form{
    width: 600px;
    margin: 0 auto 50px;
}
form > .choice_input_section{
    height: 190px;
    display: block;
}
form > div,
form > .choice_input_section > div{
    display: flex;
    /* overflow: hidden; */
    height: 70px;
    align-items: center;
}
form > div > p,
form > .choice_input_section > div > p{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}
form span.alert{
    width: 450px;
    height: 20px;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: red;
    border: 0;
    display: flex;
    overflow: hidden;
}
form span.alert > span{
    width: 154px;
}
form > div label,
form > .choice_input_section > div label,
form > div h3,
form > .choice_input_section > div h3{
    width: 150px;
    font-size: 18px;
    font-weight: 400;
}
form > div input,
form > .choice_input_section > div input,
form > div select,
form > .choice_input_section > div select{
    border: 1px solid var(--main);
    transition: all .1s;
    font-size: 15px;
    height: 46px;
    outline: 0;
}
form > div input,
form > .choice_input_section > div input{
    width: 100%;
    letter-spacing: 2px;
    padding: 0 12px;
}
form > div select,
form > .choice_input_section > div select{
    color: #777;
    padding: 0 14px;
    letter-spacing: 2px;
}
form > div.name button,
form > div.id button{
    width: 100px;
    height: 46px;
    border: 1px solid var(--main);
    background-color: var(--main);
    color: #fff;
    letter-spacing: 2px;
    font-size: 14.5px;
}
#JOIN_ID{
    width: 334px;
}
div.centerName > div{
  width: 450px;
}
ul#CENTER_NAME{
  width: 100%;
  height: 46px;
  font-size: 13px;
  padding: 5px;
  border: 1px solid var(--mainW);
  border-radius: 0;
  /* position: absolute; */
  transition: .3s;
  top: 10px;
  left: 0;
  z-index: 9;
  overflow: hidden;
  background-color: #fff;
}
ul#CENTER_NAME.on {
  height: 180px;
  background-color: #fff;
  border-radius: 3px;
}
ul#CENTER_NAME .centerLabel {
  height: 40px;
  line-height: 33px;
  padding: 0 5px;
  color: #555;
  font-size: 15px;
  cursor: pointer;
}
ul#CENTER_NAME ul {
  padding: 5px 0;
  overflow: auto;
  height: 100px;
}
ul#CENTER_NAME ul > li{
  color: #333;
  padding: 10px 5px;
  border-bottom: 1px solid var(--mainWWW);
  cursor: pointer;
}
ul#CENTER_NAME ul > li:last-of-type{
  border: none;
}
ul#CENTER_NAME ul > li:hover{
  background-color: #eee;
}
ul#CENTER_NAME #centerSearch {
  height: 34px;
  font-size: 13px;
}
#JOIN_PHONE1, #JOIN_PHONE2{
    width: 156px;   
}
#JOIN_PW1{
    color: #777;
}
form > div input:focus, 
form > .choice_input_section > div input:focus,
form > div select:focus,
form > .choice_input_section > div select:focus{
    border: 2px solid var(--main);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
/*  */
#JOIN_PHONE1, #JOIN_PHONE2{
    text-align: center; letter-spacing: 5px;
}
/* 성별 */
form > div.gender > p > span{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
form > div.gender > p > span input{
    width: 50%;
    height: 24px;
}
form > div.gender > p > span input:focus{
    box-shadow: none;
}
form > div.center_alert{
    height: 20px;
    margin: 0;
}
form > div.center_alert > p{
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-start;
    letter-spacing: 2px;
}
form > div.center_alert > p > a{
    text-decoration: underline;
    font-weight: 500;
}
form > div.center_alert > p > a:hover{
    color: rgb(145, 187, 201);
}


form > h2{
    margin-bottom: 20px;
    font-weight: 500;
}
form > h2.choice_input{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    font-size: 20px;
    margin-top: 40px;
    color: #666;
    transition: color .3s;
    border-top: 2px solid var(--mainW);
    border-bottom: 2px solid var(--mainW);
}
form > h2.choice_input.on{
    color: #000;
}
form > h2.choice_input > i{
    position: absolute;
    color: #999;
    font-weight: 700;
    width: 36px;
    height: 36px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform .3s;
}
form > h2.choice_input > i.on{
    transform: rotate(0deg);
}
form > h2.Infomation{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
/* 생년월일 */
form > .choice_input_section > div.year > p > label{
    width: 30px;
}
#JOIN_YEAR{width: 120px;}
#JOIN_MONTH, #JOIN_DAY{width: 100px;}

/* 주소 */
form > .choice_input_section > div.address{
    height: auto;
    align-items: flex-start;
    padding-top: 15px;
}
form > .choice_input_section > div.address > P{
    flex-wrap: wrap;
}
label[for="JOIN_ADDRESS1"]{
    line-height: 46px;
}
#JOIN_ADDRESS1{
    width: 180px;
}
#JOIN_ADDRESS2,
#JOIN_ADDRESS3{
    width: 120px;
}
#JOIN_ADDRESS4{
    width: 100%;
}



/* 등록일 */
form > div.joinTime span#date_time{
    font-weight: 400;
    font-size: 16px;
}


/* 전송버튼 */
form > div.join_btn{
    justify-content: center;
    align-items: center;
    margin: 80px 0 0;
}
form > div.join_btn > button{
    width: 150px;
    height: 40px;
    margin: 6px;
    font-size: 15px;
    letter-spacing: 4px;
    border: 1px solid var(--main);
}
form > div.join_btn > button#JOIN_submitBtn{
    background-color: var(--main);
    color: #fff;
    border: 1px solid var(--main);
}
address{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid gray;
}





















