@charset "utf-8";

body{
    background-color: #fff;
    background-image: none;
    position: relative;
    padding: 0;
}
h1{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
    font-weight: 900;
    color: #0477c4;
    font-family: 'NanumSquareRoundR';
}
h1 > p{
    font-size: 20px;
    font-family: inherit;
    margin-top: 20px;
}
form{
    width: 700px;
    margin: 0 auto 50px;
}
form > div{
    margin-bottom: 50px;
}
form label{
    font-size: 14px;
}
form input{
    margin-right: 4px;
}
form > div > div,
form > p{
    display: flex;
    align-items: center;
}
form > p{
    justify-content: center;
}
form > div > label{
    font-size: 16px;
    font-family: 'NanumSquareRoundR';
    font-weight: 600;
    color: #015d9b;
    letter-spacing: 1px;
    line-height: 30px;
}
form .termsText{
    width: 100%;
    height: 300px;
    border: 1px solid #0477c4;
    resize: none;
    border-radius: 6px;
    padding: 10px 8px 8px;
    overflow: auto;
    font-size: 14px;
}
div.btnSet{
    margin: 50px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.btnSet > button{
    width: 120px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid #0477c4;
}
div.btnSet > button#termsYes{
    background-color: #0477c4;
    color: #fff;
}














